<div class="flex justify-between">
  <div class=" flex align-center gap-2 text-sm text-gray-700 font-bold dark:text-white">
    <%= image_tag icon_name, class: "dark:invert" %>
    <%= trait_name %>
  </div>
  <div class="flex flex-wrap content-end dark:text-gray-50">
    <%= trait_values %>
  </div>
</div>
