<div>
  <h1 class="font-bold text-4xl">ShuffleRecipes#index</h1>
  <p>Find me in app/views/shuffle_recipes/index.html.erb</p>
</div>

<turbo-frame id="shuffle_recipes">
  <div class="flex flex-col gap-2">
    <h3 class="font-bold text-xl dark:text-white">Recipes</h3>
    <%= render partial: "shuffle_recipe_line", collection: @shuffle_recipes %>
  </div>

</turbo-frame>
