<%= tag.div class:"flex justify-between gap-4" do %>
  <div class="text-gray-700 font-bold dark:text-white">
    <%= location.platform %>
  </div>
  <div class="text-gray-700 font-bold dark:text-white">
    @<%= location.handle %>
  </div>
<% end %>
